

.header {
    grid-area: header;
}

.photo {
    /* grid-area: pic; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 30%;
    margin-bottom: 20px;
}

.phone {
    grid-area: footer;
}

.submit {
    margin-bottom: 10%;
}

.container {
    /* display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    ". pic ."
    "footer footer submit";
    justify-content: center; */
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

p {
    font-weight: 700;
}

